@media only screen and (max-width: 1200px) and (min-width:768px){
        .nav {
            height: auto;
        }
        .nav ul li{
            width:20%;
        }
    .itemBlock{
        width: 30%;
        text-align: center;
    }
    .itemBlock div{
        width: 100%;
    }
    .ad{
                width: 100%;
                height: auto;
    }
    .main{
        width: 100%;
        margin-bottom: 100px;
    }
    .footer{
        display: none;
    }
    
}

@media only screen and (max-width:768px){
    .main{
        width: 100%;
        margin-bottom: 100px;
        margin-top: 0px;
    }
        .nav {
            height: auto;
        }
        .nav ul li{
            width:100%;
            line-height:30px;
        }
        .nav a{
             margin: auto;
            width: 100%;
        }
        .nav ul ul{
            top: 30px;
            }
            .ad{
                margin-top: 0px;    
                width: 100%;
                height: auto;
            }
         .itemBlock{
        width: 100%;
        text-align: center;
             margin: 0px;
             padding: 0px;
    }
    .itemBlock div{
        width: 100%;
    }   
    .top{
        display: none;
    }
    .headblock{
        position: static;
    }
        .footer{
        display: none;
    }
}